@font-face {
  font-family: "Agbalumo";
  src: url("../../src/styles/Agbalumo/Agbalumo-Regular.ttf") format("truetype");
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(23,30,53);
  background: linear-gradient(rgba(23,30,53,1) 0%, rgba(0,0,0,1) 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; /* This ensures the background is fixed during scroll */
  background-position: center center; /* This centers the background */  
  height: 100%;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}